*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #CBCBCB;
    background: #777C6D;
    padding: 5px;
}

header {
    text-align: center;
}

span {
    background-color: #B7B89F;
    color: white;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px;
}

div{
    border: 10px solid white;
    padding: 5px;
    margin: 2%;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
}

main{
    margin-top: 10px;
}